@charset "utf-8";
/* CSS Document */
/* latin-ext */
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');
@import url('https://fonts.googleapis.com/css?family=Comfortaa|Raleway');
@import url('https://fonts.googleapis.com/css?family=Carme|Krona+One|Righteous|Rubik|Rubik+Mono+One');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:700');
:root{
	font-size: 1vw;
}
*,h{
	margin: 0;
}
html{
	scroll-behavior: auto;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100%;
}
.hidden{
	opacity: 0;
}
.show{
	opacity: 1;
}
body{
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	font-family:"comfortaa", "Helvetica Neue", Helvetica, Arial, "sans-serif";
	background-color: black;
}
ul{
	list-style-type: none;
	padding:0; 
}
/*navbar*/
	.Ontop{
		position: absolute;
		top: -70px;
		z-index: 100;
		opacity: 0;
		transition: all .5s;
	}
	.flydown{
		opacity: 1;
		top:0
	}
	.container-header{
		background-color: rgb(255, 255, 255);
		overflow: hidden;
		height: 65px;
		width: 100%;
		border-bottom: 1px solid rgb(192, 192, 192);
		position: fixed;
		z-index: 10;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 6vw;
		box-sizing: border-box;
	}
	.container-header a{
		font-style: normal;
		color: #000000;
		text-decoration: none;
		font-size: 1.3rem
	}
	#branding{
		display:flex;
		align-items: center;
		flex: 1;
		font-size: 20px;
	}
	#branding img{
		height: 50px;
		float: left;
		padding-right: 2vw;
	}
	.navbar{
	background-color:#3b589800;
	overflow:hidden;
	height:63px;
	display: none;
	}

	.navbar a{
	float: left;
	color:#f2f2f2;
	text-align:center;
	padding:14px 16px;
	
	}
	.toplinks ul{
	display: flex;
	justify-content: space-between;
	margin:0;
	list-style:none;
	}
	.toplinks li{
	padding-left: 2vw;
	}
	.toplinks li a{
	font-weight: 400;
	font-size: 20px;
	transition: all .1s;
	}
	.toplinks li a:hover{
	font-weight: bolder;
	}
	.sidenav{
	height:100vh;
	width: 0;
	position:fixed;
	z-index:1000;
	display: flex;
	flex-flow: column;
	justify-content: flex-start ;
	top:0;
	left:0;
	background-color:rgb(19, 19, 19);
	opacity:1;
	overflow: none;
	padding:10vh 0 0 0;
	transition:0.1s;
	text-align: left;
	box-sizing: border-box;
	}
	#header-title{
		font-size: 30px;	
	}
	.toggled{
	width: 100%;
	}
	.sidenav a{
	margin:1vh 10px 1vh 5vh;
	text-decoration:none;
	font-size:3rem;
	color:#ccc;
	display:block;
	transition:0.3s;
	overflow:hidden;
	}
	.sidenav a.line::after{
	width:100%;
	height: 1px;
	background-color: rgb(85, 85, 85);
	display: block;
	position: absolute;
	transform: translate(0, 10vh)	  
	}
	.sidenav a:hover{
	color:#fff;
	font-weight: bolder;
	}
	.sidenav .btn-close{
	position:absolute;
	top:1vh;
	right:10vw;
	font-size:36px;
	}
	#main{
	transition:margin-left 0.5s;
	padding:0px;
	}

/*landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing */
/*landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing landing */

.landingbg{
		background-color: #537895;
		background-image: linear-gradient(0deg, #20272c 0%, #111111 100%);
		background-attachment: fixed;
		height: 100vh;
		width: 100%;
		overflow: hidden;
	}

	#welcome{
		margin: 7% 7% 0 ;
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-between
	}
	#welcome h1{
		font-family: 'comfortaa', 'sans-serif' ;
		font-weight: bold;
		font-size: 5rem;
		color: rgb(230, 230, 230);
		text-align: left;
		text-shadow: 5px 5px 30px rgba(0, 0, 0, 0);
	}
	#welcome h2{
		font-family: 'comfortaa', 'sans-serif' ;
		padding-top: 4vh;
		font-size: 3rem;
		line-height: 4rem;
		text-align: left;
		bottom: 6vh;
		color: rgb(201, 201, 201);
		text-shadow:  5px 5px 15px rgba(0, 0, 0, 0);
	}
	.arrow{
		width: 50px;
		position: absolute;
		top: 92vh;
		padding-left: 50%;
		margin-left: -15px;
	}
footer{
	background-color: white
}	

.hidden{
	visibility: hidden;
}
.slowfade{
	opacity: 0;
	transform: scale(1.1);
	transition: all ease-in-out .8s;
}
.left{
	opacity: 0;
	transform: translatex(-500px);
	transition: ease-in-out all .5s
}
.right{
	opacity: 0;
	transform: translatex(500px);
	transition: ease-in-out all .5s
}
.up{
	opacity: 0;
	transform: translateY(-50px);
	transition: ease-in-out all .5s 1.3s;
}
.backin{
	opacity: 1;
	transform: translateX(0)
}
/*portfolio*/
	.titlecontainer{
		padding: 1vh 5% ;
		background-color: rgb(223, 223, 223);
		font-size: 2em;
	}
	.reveal{
		visibility: visible;
	}
	.wrapPortfolio{
		display: flex;
		position: relative;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 700px;
		overflow: hidden;

	}
	.space{
		height: 50px;
		background-color: white
	}
	button a{
		font-family: "comfortaa", "Helvetica Neue", Helvetica, Arial, "sans-serif";
		color: rgb(255, 255, 255);
		text-decoration: none;
		font-size: 1.5rem;
		padding: .2em .5em ;
		transition: all .2s;
	}
	.buttonP{
		display: flex;
		position: absolute;
		right: 7vw;
		bottom: 50px;

		border: 2px solid rgb(255, 255, 255);
		border-radius: 50px;
		background-color: rgba(255, 255, 255, 0);
		transition: all .15s;
		opacity: .8;
	}
	.buttonP:hover{
		border:2px solid white;
		background-color: rgba(15, 15, 15, 0.192);
		opacity: 1;
	}
	.buttonP:hover a{
		color: white;
	}
	.container{
		overflow: hidden;
		position: relative;
		display: flex;
		flex-flow: column;
		justify-content: center;
		text-align: center;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-attachment:scroll;
		transition: all 1s;
	}
	.container h3{
		font-size: 3rem;
		color: white;
	}
	.container p{
		font-size: 1.5rem;
		color: white;
	}
	.container h3, .container p{
		text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.336);
	}
	.P1::after{
		content: "";
		position: absolute;
		z-index: -1;
		top: 0; bottom: 0; left: 0; right: 0;
		background-image: url(images/lite/Th-hole-final.webp);
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		opacity: .7;
	}
	.P2{
		background-image: url(images/lite/dsc_6810.jpg);
		background-position: center;
	}
	.P3::after{
		content: "";
		position: absolute;
		z-index: -1;
		top: 0; bottom: 0; left: 0; right: 0;
		background: url(images/lite/HIW\ filmic-Analog.webp) fixed right;
		background-size: cover;
		opacity: .8;
	}
	.P1::after,	.P3::after{
		box-shadow: inset 0px 0px 20px 10px rgba(0, 0, 0, 0.39);
	}
footer{
	text-align: center;
	display: inline-flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	width: 100%;	
	overflow: hidden;
}
.container-sc{
	margin: 20px;
	width: 30%;
	margin-right: 20px;
	min-width: 300px;
	max-width: 100%;
}
footer p{
	margin: 20px;
	font-size: 1.1em;
	text-align: center;
	
}


@media(max-width:1100px){
	:root{
		font-size: 1.7vw;
	}
	#welcome{
		padding: 15% 10%;
		margin: 0;
	}
	#welcome h1{
	font-size: 6rem;
	text-align: center;
	}
	#welcome h2{
	padding-top: 5vh;
	line-height: 7rem;
	text-align: center;
	}
}


@media(max-width:890px){
	:root{
		font-size: 2vw;
	}
	.toplinks{
		display: none;
	}	
	.P1::after, .P2, .P3::after{
		background-attachment: scroll;
	}
	.wrapPortfolio{
		height: 500px;
	}
	.navbar{
		display: initial;
	}
}

@media(max-width:670px){
	:root{
		font-size: 2.2vw;
	}
	#portolios h1{
		vertical-align: middle;
	}
	#welcome h1{
		font-size: 5rem;
	}


@media(max-width:480px){
	:root{
		font-size: 2.5vw;
	}

	.sidenav{
		text-align: center;
		padding: 0vh 0;
		justify-content: space-around ;
	}
	.sidenav a{
		padding:0;
		margin: 0;
		text-decoration:none;
		color:#ccc;
		display:block;
		transition:0.3s;
	  }
	.sidenav a.line::after{
		content: "";  
	}
}
}