@charset "utf-8";
/* CSS Document */
.gallerywhite{
	background-color: rgb(255, 255, 255);
}
#gallery{
	margin: auto;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-around;
	width: 95%;
	padding-top: 70px; 
}
.vignette img{
	object-fit: cover;
	width: 100%;
	display: block;
	position: relative;
	transition: 0.2s;
}
.vignette{
	width: 30vw;
	min-width: 200px;
	margin: 0;
	overflow: hidden;	
}
html.sr .vignette{
    visibility: hidden;
}
.vignette img:hover{
	transform: scale(.95);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.774);
	
}

@media(max-width:1069px){ 
	.vignette{
		width: 45vw;
		min-width: 10px;
		margin: 5px;
	}
}
@media(max-width:750px){
	.vignette{
		width: 85vw;
		min-width: 10px;
		margin: 5px;
	}
}
@media(max-width:370px){	
}