@charset "utf-8";
/* CSS Document */
.gallerywhite{
	background-color: rgb(226, 226, 226);
}
#gallery{
	display: inline-block;
	width: 80%;
	padding-top: 100px; 
	position: absolute;
	left: 10%;	
}
.collumn{
	column-count: 3;
	column-gap: 20px; 
	transition: all .1s; 
}
.vignette{
	transition: 0.2s;
	width: 100%;
	opacity: 0;
	margin: 1vh 0;
	transition: all .5s;
	transform: translatey(20px);
	object-fit: cover;
}
.vignetteIn{
	transform:none;
	opacity: 1;
}
.vignette:hover{
	transform: scale(.97);
	opacity: .95;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.774);
	
}

@media(max-width:1069px){ 
	.collumn{
		column-count: 2;
		column-gap: 20px; 
	}
}
@media(max-width:750px){
	.collumn{
		column-count: 1;
		column-gap: 20px; 
	}
	}
@media(max-width:370px){	
}